---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



body {
  padding-top: 10px;
}
.starter-template {
  padding: 40px 15px;
}

footer { 
  border-top: 2px solid #ddd;
  margin-top: 1em;
  padding-top: 2em;
}
