/* PROGRESS METER */
#campaign {
background-color: #ccc; 
height: 46px;
max-width: 640px;
padding-top: 3px;
margin: 0px auto;
margin-bottom: 10px;
text-align: center;
-moz-border-radius-bottomleft: 10px;
-moz-border-radius-bottomright: 10px;
-webkit-border-bottom-left-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
font-size: 80%;
}

#campaign.wide { margin: 0; padding: 5px 35%; height: 25px; position: relative; }

#campaign title {

margin-top: 2px;
}

#campaign .title a {
color: #280048;
}

#campaign .progress {
position: relative;
cursor:pointer; 
margin: 2px auto 3px auto;
width: 50%; 
height: 20px;
padding: 0 1%; 
background-color: #fff;   
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}

#campaign .progress span {
display: block;
position: absolute;
top: 1px;
left: 1px;
height: 18px;
margin: 0; 
background-color: #a3aaa3;
background: url('http://creativecommons.org/images/support/progress.png');
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}

#campaign .results {
/*position: absolute;
top: 1px;
left: 16px;*/
margin: 0 auto;
/*
float: left; 
margin-top: 2px; 
margin-left: 7px;
*/
}

#campaign .results a {
	/*color: #131313;*/
	color: #280048;
}

#header #campaign {
 /* background-color: transparent !important;
 */ 
  padding: 5px 5px 0 5px;
  margin-top: 5px;
  margin-right: 33px;
  text-align: left;
  height: auto;
  position: relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #280048;
  width: 125px;
  float: right;
}

#header #campaign .progress {
  margin-left: 0;
  margin-top: 0;
  width: 98%;
  -moz-border-radius: 2px;
}

#header #campaign .results {
  /*position: absolute;
  font-size: 1em;
  top: 3px;
  left: 8%;
*/
	text-align: center;
}

#header #campaign .results a {
  color: #fff;
}

#campaign.wide .results { position: absolute; top: 7px; left: 38%; }
#campaign.wide .results a { color: #131313; }
