/*
 * Creative Commons Search Interface
 * 1.0 - 2006-07
 * 
 * IE related fixes/hacks
 *
 */

#header{
	margin-bottom: 20px;
}

#results{
   height: 400px;
   vertical-align: top;
}

#left{
  width: 350px;
	margin-left: 15px;
}

#right{

}
/* Transparent png's */
img.png {
	behavior: url("pngie.htc");
}

#subNFO { margin: 0; }

#menu {
margin-top: 0px;

padding-top: 15px;
	margin-bottom: 2px;
	height: auto;
}


.google { margin-bottom: 0px; }

ul.tabs {
	margin-bottom: 0px;
	height: 20px;
	overflow: hidden;
}

ul.tabs li {
	margin-right: 5px;
	padding: 0;
}

ul.tabs li.inactive {
	background-color: #f7f7f7;
	padding-bottom: 0px;
	background-image: none;
}
ul.tabs li.active {
	padding-top: 8px !important;
	padding-bottom: 0px;
	margin-bottom: -2px;
	background: #fff;
	border-bottom: none;
}

/*
#flickr { padding-top: 5px; margin: 0;}
#yahoo  { padding-top: 8px; }
#google { padding-top: 3px;}

li.active#yahoo { padding-top: 12px !important;	}
*/
ul.tabs img {
	padding-top: 0;
	padding-bottom: 0px;
}

ul.tabs a {
	padding: 0px 30px 0px;
	width: 100%;
}
