[submodule "2011/ccrel-guide"]
	path = docs/2011/ccrel-guide
url = https://github.com/creativecommons/ccrel-guide.git

[submodule "2011/demos/license-layers"]
	path = docs/2011/demos/license-layers
url = https://github.com/cc-archive/labs-license-layers.git

[submodule "demos/facebook"]
	path = docs/demos/facebook
url = https://github.com/cc-archive/cc_license_facebook_app.git

[submodule "demos/facebook.old"]
	path = docs/demos/facebook.old
url = https://github.com/cc-archive/cc_license_facebook_app.git

[submodule "demos/search"]
	path = docs/demos/search
url = https://github.com/cc-archive/ccsearch.git

[submodule "demos/search-b"]
	path = docs/demos/search-b
url = https://github.com/cc-archive/search3.git

[submodule "demos/search.old/search-i18n"]
	path = docs/demos/search.old/search-i18n
url = https://github.com/cc-archive/i18n_ccsearch.git
