body {
	margin:3em;
	padding:0;
	height:100%;
	background-color:#ffffff;
	color:#000000;  
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:.9em;
}

a {
	text-decoration: underline;
	color: #074145;
}

a:hover {
	color: #178289;
}

blockquote {
	margin:1em;
	padding:.5em;
	background-color:#eeeeee;
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}

blockquote p {
	margin:.2em;
}




#centerColumn { 	
	margin:0 auto;
	padding:1em;
	width:48em;
	text-align:left;
	vertical-align: middle;	
	background-color:#efefef;
	border:1px solid #999999;
}

#centerColumn h2 {
	margin:0 0 .5em 0;
	padding:.75em 0 0 0;
	font-size:1.3em;
}

#centerColumn h3 {
	margin:0 0 .5em 0;
	padding:.75em 0 0 0;
	font-size:0.9em;
}

#centerColumn ul {

}

#centerColumn li {
	padding: 0.1em;
}

#centerColumnBar {
	margin:0.5em;
	padding:0.5em;
	background-color:#eeeeee;
	border:1px solid #cccccc;
	height: 125px;
}

#centerColumnBox {
	margin:0.5em;
	padding:0.1em;
	background-color:#eeeeee;
	border:0px solid #cccccc;
}



#header {
	margin:-1em -1em 0 -1em;
	padding:0 0 0 0;
	height:6em;
	background-color:#ffffff;
}

#header h1 {
	margin:0 0 -.6em 0;
	padding: 0em 0 0 0.6em;
	font-size:2.0em;
	letter-spacing:.1em;
	color: #333333;
}

#header h2 {
	margin:0 0 0 0;
	padding:1em 0 0 2.75em;
	font-size:1.0em;
	font-weight:300;
	letter-spacing:.1em;
	color: #444444;
}

#nav {
	margin:0 0 1em 0;
	padding:.4em 0 0 25em; /* LEAVES THE NAVIGATION RIGHT JUSTIFIED*/
}

#nav ul {
	margin:0;
	padding:0;
	list-style:none;
}

#nav li {
	margin:0;
	padding:.45em;
	display:inline;
}

#nav li a {
	text-decoration: none;
	color: #074145;
}

#nav li a:hover {
	color: #178289;
}

#footer {
	position:relative;
	bottom:0;
	margin:5em 0 5em 0;
	padding:1em 0 0 0;
	height:6em;
	line-height:2em;
	text-align:center;
	font-size:.7em;
	background-color:#efefef;
	border-top:1px solid #999999;
}

#footerLinks {
	position:relative;
	bottom:0;
	margin:1em 0 1em 0;
	padding:0.5em 0 0 0;
	height:1.3em;
	line-height:0.8em;
	text-align:center;
	font-size:.7em;
	background-color:#dddddd;
	border-top:1px solid #999999;
}

img {
	border: 0px;
	margin: 0;
	padding: 0;
}


table {
	border: 0px;
}

td.database_name {
	background-color: #eeeeee;
	font-size: 90%;
}

td.database_name_tab {
	background-color: #dddddd;
	font-size: 90%;
}


td.yes_no {
	text-align: center;
	background-color: #ffffff;
	font-size: 90%;
}
td.top {
	text-align: center;
	background-color: #cccccc;
	font-size: 90%;
}

td.label {
	background-color: #dddddd;
	width: 150px;
	font-size: 80%;
	vertical-align: top;
}

td.value {
	background-color: #dddddd;
	width: 650px;
	font-size: 80%;
}

ul.questionnaire {
	margin:.1em 0 .1em -1em;
}

