/* Freedoms License Generator - 1 */

#flg-container {
	text-align: center;
	margin: 0 auto; 
	width: 550px;
    /* border: 1px solid black; */
    clear: both;
}

h4.freedoms {
	margin: 5px;
	color: #6C9D31;
    text-align: center;
}
h4.conditions {
	margin: 5px;
	color: #C0272D;
    text-align: center;
}

#flg-ui {
	width: 500px;
	padding: 20px;
	margin: 0 auto;
	
	border-top: 2px solid #CADB2A;
	border-bottom: 2px solid #F26522;
}

#flg-ui img {
	border: none;
}

#flg-ui a:link {
	text-decoration: none;
}

#flg-freedoms {
	clear: both;
}

#flg-freedoms #flg-f-share {
	float: left;
}

#flg-freedoms #flg-f-remix {
	float: right;
}

#flg-left {
	clear: both;
	width: 100px;
	float: left;
}
#flg-mid {
	width: 300px;
	float: left;
}
#flg-right {
	width: 100px;
	float: left;
}

#flg-connect-share {
	border-left: 2px dotted #8CC63F;
	border-bottom: 2px dotted #8CC63F;
	float: left;
}

#flg-connect-remix {
	border-right: 2px dotted #8CC63F;
	border-bottom: 2px dotted #8CC63F;
	float: right;
}

#flg-connect-nc {
	clear: both;
	margin-top: 25px;
	border-left: 2px dotted #F7931D;
	border-top: 2px dotted #F7931D;
	float: left;
}

#flg-connect-sa {
	clear: both;
	margin-top: 25px;
	border-right: 2px dotted;
	border-top: 2px dotted;
	border-color: #F7931D;
	float: right;
}

.flg-pipe-off {
	border-color: #fff !important;
}

#flg-connect-share.flg-pipe-middle, 
#flg-connect-remix.flg-pipe-middle {
	border-color: #ccc !important;
}


#flg-connect-share.flg-pipe-on, 
#flg-connect-remix.flg-pipe-on {
	border-color: #8cc63f !important;
}



#flg-connect-nc.flg-pipe-middle, 
#flg-connect-sa.flg-pipe-middle {
	border-color: #ccc !important;

}

#flg-connect-nc.flg-pipe-on, 
#flg-connect-sa.flg-pipe-on {
	border-color: #f7931d !important;
}



#flg-connect-share, 
#flg-connect-remix, 
#flg-connect-nc, 
#flg-connect-sa {
	width: 96px;
	height: 175px;
	border-width: 4px;
	
}

#flg-conditions {
	clear: both;
}

#flg-conditions #flg-c-nc {
	float: left;
}

#flg-conditions #flg-c-sa {
	float: right;
}

#flg-result {
	width: 258px;
	height: 80px;
	padding: 20px;
	margin-top: 152px;
	border: 1px solid #444;
    text-align: center;
}
