/* Freedoms License Generator - 1 */

#flg-container {
	text-align: center;
	margin: 0 auto;
	width: 650px;
	position: relative;
	top: 0; left: 0;
}

h4.freedoms {
	margin: 5px;
	color: #6C9D31;
}
h4.conditions {
	margin: 5px;
	color: #C0272D;
}

#flg-ui {
	position: relative;
	top: 0; left: 0;
	width: 405px;
	padding: 20px;
	margin: 0 auto;
	
	border-top: 2px solid #CADB2A;
	border-bottom: 2px solid #F26522;
}

#flg-ui img {
	border: none;
}

#flg-ui a:link {
	text-decoration: none;
}

#flg-freedoms {
	clear: both;
}

#flg-freedoms #flg-f-share {
	float: left;
}

#flg-freedoms #flg-f-remix {
	float: right;
}

#flg-left {
	clear: both;
	width: 243px;
	float: left;
	margin:  15px 0;
}
#flg-mid {
	position: absolute;
	top: 195px;
	left: 250px;
	background: url(../images/fuzzy.png);
	font-size:  80%;
	border:  2px dashed #777;
}
#flg-right {
	width: 243px;
	margin:  15px 0;
	float:  left;
	margin-left: -83px;
}

#flg-connect-share {
	float: left;
}

#flg-connect-remix {
	float: right;
}

#flg-connect-nc {
	clear: both;
	margin-top: -81px;
	float: left;
}

#flg-connect-sa {
	clear: both;
	margin-top: -81px;
	margin-right: -40px;
	float: right;
}

#flg-connect-share.flg-pipe-off {
	background: url(4images/share-off.png) no-repeat top left;
}
#flg-connect-remix.flg-pipe-off {
	background: url(4images/remix-off.png) no-repeat top left;
}

#flg-connect-nc.flg-pipe-off {
	background: url(4images/nc-off.png) no-repeat top left;
}
#flg-connect-sa.flg-pipe-off {
	background: url(4images/sa-off.png) no-repeat top left;
}

#flg-connect-share.flg-pipe-middle {
	background: url(4images/share-dim.png) no-repeat top left;
}
#flg-connect-remix.flg-pipe-middle {
	background: url(4images/remix-dim.png) no-repeat top left;
}

#flg-connect-nc.flg-pipe-middle {
	background: url(4images/nc-dim.png) no-repeat top left;
}
#flg-connect-sa.flg-pipe-middle {
	background: url(4images/sa-dim.png) no-repeat top left;
}

#flg-connect-share.flg-pipe-on {
	background: url(4images/share-on.png) no-repeat top left;
}
#flg-connect-remix.flg-pipe-on {
	background: url(4images/remix-on.png) no-repeat top left;
}


#flg-connect-nc.flg-pipe-on {
	background: url(4images/nc-on.png) no-repeat top left;
}
#flg-connect-sa.flg-pipe-on {
  background: url(4images/sa-on.png) no-repeat top left;
}



#flg-connect-share, 
#flg-connect-remix, 
#flg-connect-nc, 
#flg-connect-sa {
	width:  243px;
	height:  212px;
	border-width: 4px;
	
}

#flg-connect-share a:link, 
#flg-connect-remix a:link, 
#flg-connect-nc a:link, 
#flg-connect-sa a:link,
#flg-connect-share a:visited,
#flg-connect-remix a:visited,
#flg-connect-nc a:visited,
#flg-connect-sa a:visited {
	display:  block;
	width:  100%;
	height:  100%;
}

#flg-conditions {
	clear: both;
}

#flg-conditions #flg-c-nc {
	float: left;
}

#flg-conditions #flg-c-sa {
	float: right;
}

#flg-result {
	width: 108px;
	height: 80px;
	padding: 20px;
/*	border: 1px solid #aaa;*/
}
