/**
 * This was written by CC as a demonstration of how to interoperate
 * with the Creative Commons JsWidget.  No rights reserved.
 * 
 * See README for a little more detail.
 */

.cc_js_body {
  background-color: #fff;
  color: #343434;
  font: 71%/145% "Lucida Grande", verdana, sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
}

#header-main {
    width:  93%;
    min-width:  700px;
    margin: 0 3%;
    padding: 10px 0 2px 1%;
    text-align: left;
    font-size: 11px !important;
}

/* -- elements */

a, a:link {
  text-decoration: none;
  color: #00b;
}

a:hover {
  text-decoration: underline;
}

/**
 * This was written by CC as a demonstration of how to interoperate
 * with the Creative Commons JsWidget.  No rights reserved.
 * 
 * See README for a little more detail.
 */

#license_selected
{
    border:         1px solid #c2e0cf;
    text-align:     center;
    padding:        3%;
    margin-bottom: 2.7%;
		width: 85%;
}

#jurisdiction_box
{
    /* border: 1px solid black; */
    padding: 0.5% 2% 1% 2%;
    margin-bottom: 1%;
}

#lic-menu h2
{
    /* text-decoration: underline; */
    /* border-bottom: 1px solid black; */
    padding: 3% 0 1% 0;
    border: none;
}

#lic-result
{
    padding: 0;
    margin: 0;
}
    
select#jurisdiction
{
    margin-bottom: 2%;
}

textarea#result
{
    width: 91%;
    border: 1px solid #ccc;
    color: gray;
    margin-top: 1%;
}

a img
{
    border: none;
    text-decoration: none;
}

#more_info
{
    border: 1px solid #eee;
    padding: 0.5% 2% 1% 2%;
    margin-bottom: 1%;
    margin-top: 1%;
		width: 87%;
}
#more_info table
{
    width: 65%;
}

#more_info .header
{
    width: 35%;
}

#more_info input
{
    width: 100%;
    border: 1px solid #ccc;
}

#required
{
    border: 1px solid #ccc;
    padding: 0.5% 2% 1% 2%;
    margin-bottom: 1%;
    margin-top: 1%;
    /* background: #efefef; */
    background: #eef6e6;
		width: 87%;
}

#work_title
{
    font-style: italic;
}


#optional
{
    border: 1px solid #eee;
    padding: 0.5% 2% 1% 2%;
    margin-bottom: 1%;
    margin-top: 1%;
		width: 87%;
}


.alert
{
    color: red;
}

.cc-button
{
    padding-bottom: 1%;
}

.header
{
}

.info
{
    vertical-align: middle;
}

img.info {
	float: right;
}

#lic-menu p, #jurisdiction_box {
	width: 18em;
	padding: 3px 0 5px 0;
}

.note
{
    float:          right;
    font-size:      80%;
    padding:        1% 1% 0 0;
    margin:         0;
}

.tooltip
{
    background:     white;
    border:         2px solid gray;
    padding:        3px 10px 3px 10px;
    width:          300px;
    text-align:     left;
}

.tooltip .icon
{
    float:          left; 
    padding-right:  4%;
    padding-bottom: 20%;
}

.tooltipimage
{
    border:         2px solid gray;
}

.questionbox
{

    background: #bad7ff;
    padding: 0 0.5% 0 0.5%;
    color: white;
    text-decoration: none;
    margin-bottom: 0.5%;
    cursor:         help;
}

.infobox
{
    cursor:         help;
}

.question
{
    cursor:         help;
    color:          #00b;
}

#lic-menu p {
	margin: 0 0 5px 0;
}
